{% extends "accounts/templates/accounts/base.html" %}
{% block title %}SABANA - Calendario {% endblock %}
{% block extra_css %}
<style>
    /* Opcional: Estilos para el calendario */
    body {
      padding: 0;
      font-size: 14px;
    }
  
    #calendar {
      max-width: 1100px;
      margin: 0 0;
    }


    #calendar a {
        color: black;
       text-decoration: none;
    }
</style>
{% endblock %}
{% block content %}
{% load tags %}
{% load static %}
{% load widget_tweaks %}

<div class="container mt-5"> <!-- Contenedor Bootstrap -->
    <h1 class="text-center mb-4">Calendario de Actividades Académicas</h1> <!-- Título centrado -->
    <div class="row justify-content-center"> <!-- Fila para centrar -->
        <div class="col-md-8"> <!-- Columna centrada -->
            <div id='calendar'></div>
        </div>
    </div>
    <div class="row justify-content-center mt-4"> <!-- Fila para el botón -->
        <div class="col-md-8 text-center"> <!-- Columna centrada -->
            <a href="{% url 'home' %}" class="btn btn-primary">Regresar</a> <!-- Botón Regresar -->
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth', // Vista inicial
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,dayGridDay'
            },
            events: '/calendar/load/', // URL para cargar eventos
            eventDidMount: function(info) {
                    // Crear el tooltip
                    var tooltip = new bootstrap.Tooltip(info.el, {
                        title: info.event.title + ': ' + info.event.extendedProps.description, // Mostrar título y descripción
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                }
        });

        calendar.render();
    });
</script>

{% endblock %}