{% extends "accounts/templates/accounts/base.html" %}
{% block title %}Confirmar Eliminación de Estudiante{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Confirmar Eliminación</h1>
    <p>¿Estás seguro de que deseas eliminar al estudiante {{ estudiante.nombreAlumno }} {{ estudiante.apellidoAlumno }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        <a href="{% url 'listar_estudiantes' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}