{% extends "accounts/templates/accounts/base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class="container d-flex justify-content-center align-items-center" style="height: 90vh;  top: 60vh;">
  <div class="col-md-4">

  
    <div class="card p-4 shadow-sm">
      <h2 class="text-center mb-4">Login</h2>

      <div class="text-center mb-4"> 
        <img src="{% static 'menu/logo_log.png' %}" class="img-fluid" alt="Logo" width="200"> 
      </div>

      {% if messages %}
        {% for mensaje in messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ mensaje }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
   
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
       
        <div class="mb-3">
          <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario <span style="color: red;"> *</span></label>
          {% render_field form.username class="form-control" %}
          <div class="valid-feedback"></div>
          <div class="invalid-feedback">introduzca su Usuario</div>
        </div>
        <div class="mb-3">
          <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña <span style="color: red;"> *</span></label>
          
          {% render_field form.password class="form-control" %}
          <div class="valid-feedback"></div>
          <div class="invalid-feedback">La Contraseña es requerida</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>   
<script type="">

  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
{% endblock %}