{% extends "accounts/templates/accounts/base.html" %}
{% block title %} Registro de Docente {% endblock %}

{% block content %}
{% load widget_tweaks %}
{% load static %}
   <!-- <style>
        /* Estilos CSS para mejorar la apariencia del formulario */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        form {
            width: 70%; /* Ajusta este valor según sea necesario */
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .form-container {
            display: flex;
            justify-content: space-between;
        }
        form:nth-child(odd) {
            margin-right: 20px; /* Espacio entre columnas */
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input[type="text"], input[type="email"], input[type="number"], input[type="file"], input[type="date"], select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }
        input[type="radio"] {
            margin-right: 5px;
        }
        .form-buttons {
            margin-top: 20px;
            text-align: right;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 10px;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style> -->
    <h1>Bienvenido al registro de docentes</h1>
    <!--<a href="{% url 'home' %}">Volver al Menú Principal</a> -->

    <div class="form-container">
        <form action="" method="post">
            <label for="{{ form.nombreDocente.id_for_label }}">Nombres:</label>
            {% render_field form.nombreDocente class="form-control"  %}

            <label for="{{ form.nombreDocente.id_for_label }}">Apellidos:</label>
            {% render_field form.apellidoDocente class="form-control"  %}

            <label for="{{ form.generoDocente.id_for_label }}">Género:</label>
            <!--{% render_field form.generoDocente class="form-check"  %} -->
            <div>
                <input type="radio" id="masculino" name="genero" value="masculino" required class="form-check-inline">
                <label for="masculino">Masculino</label>
            </div>
            <div>
                <input type="radio" id="femenino" name="genero" value="femenino" required class="form-check-inline">
                <label for="femenino">Femenino</label>
            </div>

            <label for="{{ form.correoDocente.id_for_label }}">Correo electrónico:</label>
            {% render_field form.correoDocente class="form-control"  %}
            
            <label for="{{ form.numeroTelefono.id_for_label }}">Número de teléfono:</label>
            <!--{% render_field form.numeroTelefono class="form-control"  %} -->
            <input type="text" id="numeroTelefono" name="numeroTelefono" placeholder="" maxlength="8" required>

            <br>
            <label for="dui">DUI:</label>
            {% render_field form.dui class="form-control"  %}
            
            <label for="{{ form.direccionDocente.id_for_label }}">Dirección:</label>
            <!--{% render_field form.direccionDocente class="form-control"  %} -->
            <input type="text" id="direccionDocente" name="direccionDocente" placeholder=""  required>
        </form>
        <div>
    
        </div>
        <div>
         
            <label for="edad">Edad:</label>
            {% render_field form.edadDocente class="form-control"  %}

            <!--<label for="materia">Grado Asignado:</label>
            <select id="gradoAsignado" name="gradoAsignado" required>
                <option value="">Seleccione un Grado</option>
                <option value="primero">Primer Grado</option>
                <option value="segundo">Segundo Grado</option>
                <option value="tercero">Tercer Grado</option>
                <option value="cuarto">Cuarto Grado</option>
                <option value="quinto">Quinto Grado</option>
                <option value="sexto">Sexto Grado</option>
                <option value="septimo">Septimo Grado</option>
                <option value="octavo">Octavo Grado</option>
                <option value="noveno">Noveno Grado</option> -->
                <!--Agrega más opciones según sea necesario -->
            <!--</select> -->

            <!--<label for="fecha">Fecha de registro:</label>
            <input type="date" id="fecha" name="fecha"  required>

            <label for="foto">Fotografía:</label>
            <input type="file" id="foto" name="foto" accept="image/*" required>

            <label for="titulo">Título:</label>
            <input type="file" id="titulo" name="titulo" accept="image/*" required> -->

            <div class="form-buttons">
                <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
                <input type="submit" value="Guardar Registro">
            </div>

            <!-- Script de JavaScript -->
            <!--<script>
                // Función para redirigir al usuario cuando se presione el botón
                document.getElementById('botonVolver').addEventListener('click', function() {
                // Redireccionar a la URL deseada, en este caso a la página principal
                window.location.href = "{% url 'home' %}";
            });
    </script> -->

        </div>
    </div>


{% endblock %} 