{% extends "accounts/templates/accounts/base.html" %}
{% block title %}SABANA - Registro de Asistencia{% endblock %}
{% block content %}
{% load tags %}

<div class="container mt-4">

    {% if asistencias %}
    <h2>Editar Asistencia</h2>
    {% else %}
        <h2>Registrar Asistencia</h2>
    {% endif %}
    <h4>{{ fecha }} - {{ grado_seccion.grado.nombreGrado }} {{ grado_seccion.seccion.nombreSeccion }}</h4>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="fecha" value="{{ fecha }}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Estudiante</th>
                    <th>Presente</th>
                    <th>Ausente</th>
                </tr>
            </thead>
            <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombreAlumno }} {{ estudiante.apellidoAlumno }}</td>
                    <td>
                        <input type="radio" name="asistio_{{ estudiante.id_alumno }}" value="P" class="form-check-input" {% if asistencias.estudiante.id_alumno == 'P' %}checked{% endif %}> Presente
                    </td>
                    <td>
                        <input type="radio" name="asistio_{{ estudiante.id_alumno }}" value="A" class="form-check-input" {% if asistencias.estudiante.id_alumno == 'A' %}checked{% endif %}> Ausente
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Registrar asistencia</button>
    </form>
    
</div>

{% endblock %}
