{% extends "accounts/templates/accounts/base.html" %}
{% block title %}
SABANA PROYECT 
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10 text-center">
        <h1 class="mt-5">Visualización de Asignaciones</h1>
        <p class="lead">A continuación se muestran las asignaciones de docentes a grados y secciones.</p>

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Docente</th>
                    <th>Grado</th>
                    <th>Sección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for asignacion in asignaciones %}
                    <tr>
                        <td>{{ asignacion.docente.nombreDocente }} {{ asignacion.docente.apellidoDocente }}</td>
                        <td>{{ asignacion.grado_seccion.grado.nombreGrado }}</td>
                        <td>{{ asignacion.grado_seccion.seccion.nombreSeccion }}</td>
                        <td>
                            <a href="{% url 'editarasignacion' asignacion.id %}" class="btn btn-sm btn-warning">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'home' %}" class="btn btn-secondary mt-4">Volver</a>
    </div>
</div>
{% endblock %}